body {
    margin: 0;
    background-color: #ACADBC;
}

h3{
    padding-left: 30px;
    padding-top: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.5);
}

#app {
    display: grid;
    /* DISPLAYS EVERY STICKY NOTE AT 200PX OF WIDTH, IF THE BROSWER IS TOO SMALL- DROP TO NEXT LINE*/
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
}

.notes {
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    resize: none;
    font-family: 'Courier New',
        Courier,
        monospace;;
    font-size: 16px;
}

.add-note{
    height: 200px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.3s;
}

.add-note:hover{
    background: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 2);
}